<li class="list-group-item d-flex align-items-center justify-content-between">

  <div>
    <%= task.name %>
  </div>
  <!--  <button class="btn btn-danger"> Delete </button>-->

  <%= link_to("delete", "/task/#{task.id}", method: :delete, class: "btn btn-danger") %>

</li>