<h1>Hello World</h1>

<%= link_to('Home', { :controller => "demo", :action => "home" }) %>

<%= link_to('Home with params', { :controller => "demo", :action => "home", :page=> 10, :id=> 5 }) %>

<%= link_to('Home', "/demo/index?id=10&page=5") %>

<%= link_to('Surya', '/demo/surya_umapathy') %>